{
  "blocks": [
    {
      "type": "section",
      "block_id": "host_info",
      "text": {
        "type": "mrkdwn",
        "text": "*System Metrics for Host:* ```{{ inventory_hostname }}```"
      }
    },
    {
      "type": "divider"
    },
    {
      "type": "section",
      "block_id": "disk_usage",
      "text": {
        "type": "mrkdwn",
        "text": "*Disk Usage:*\n```{{ formatted_disk_usage }}```"
      }
    },
    {
      "type": "section",
      "block_id": "cpu_usage",
      "text": {
        "type": "mrkdwn",
        "text": "*CPU Usage:*\n```{{ formatted_cpu_usage }}```"
      }
    },
    {
      "type": "section",
      "block_id": "memory_usage",
      "text": {
        "type": "mrkdwn",
        "text": "*Memory Usage:*\n```{{ formatted_memory_usage }}```"
      }
    },
    {
      "type": "section",
      "block_id": "load_average",
      "text": {
        "type": "mrkdwn",
        "text": "*Load Average:*\n```{{ formatted_load_average }}```"
      }
    }
  ]
}
