{
  "text": "*Hostname*: {{ inventory_hostname }}\n
          *Disk Usage*:\n```{{ formatted_disk_usage }}```\n
          *CPU Usage*:\n```{{ formatted_cpu_usage }}```\n
          *Memory Usage*:\n```{{ formatted_memory_usage }}```\n
          *Load Average*:\n```{{ formatted_load_average }}```"
}